[[source]]

verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"


[packages]

tornado = { version = "==4.5.2"}
peewee = { version = "==2.10.2"}
arteria-core = {git = "https://github.com/arteria-project/arteria-core.git", ref = "v1.1.0"}
jsonpickle = { version = ">=0.9.5"}


[dev-packages]

mock = "*"
nose = "*"
